@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>升级浏览器</title>
    <style type="text/css">
        a:link, a:visited {
            color: #808080;
            text-decoration: underline;
        }

        a:hover, a:active {
            color: #ff006e;
            text-decoration: none;
        }

        .contentdiv {
            margin-top: 100px;
            text-align: center;
        }

        .tabbrowser {
            width: 800px;
            margin: auto;
            font-size: 18px;
        }

            .tabbrowser td {
                padding-bottom: 50px;
                padding-left: 10px;
            }

        .top1 {
            margin-top: 80px;
        }
    </style>

</head>
<body>
    <div class="contentdiv">
        <h1 style="color:#ae0000">当前浏览器版本过低，为了保证您的安全性和体验性，请使用最新浏览器!</h1>
        <div class="top1">
            <table class="tabbrowser">
                <tr>
                    <td>
                        <a href="https://www.baidu.com/s?wd=谷歌浏览器下载" target="_blank">谷歌浏览器下载</a>
                        <font color="green">&nbsp;&nbsp;[推荐]</font>
                    </td>
                    <td>
                        <a href="https://www.baidu.com/s?wd=360浏览器下载" target="_blank">360浏览器下载</a>
                    </td>
                    <td>
                        <a href="https://www.baidu.com/s?wd=IE浏览器下载" target="_blank">IE浏览器下载</a>
                    </td>
                    <td>
                        <a href="http://www.baidu.com/s?wd=火狐浏览器下载" target="_blank">火狐浏览器下载</a>
                    </td>
                    <td>
                        <a href="http://www.baidu.com/s?wd=百度浏览器下载" target="_blank">百度浏览器下载</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="http://www.baidu.com/s?wd=搜狗浏览器下载" target="_blank">搜狗浏览器下载</a>
                    </td>
                    <td>
                        <a href="http://www.baidu.com/s?wd=QQ浏览器下载" target="_blank">QQ浏览器下载</a>
                    </td>
                    <td>
                        <a href="http://www.baidu.com/s?wd=遨游浏览器下载" target="_blank">遨游浏览器下载</a>
                    </td>
                    <td>
                        <a href="http://www.baidu.com/s?wd=欧朋浏览器下载" target="_blank">欧朋浏览器下载</a>
                    </td>
                    <td>
                        <a href="http://www.baidu.com/s?wd=猎豹浏览器下载" target="_blank">猎豹浏览器下载</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <a href="http://www.baidu.com/s?wd=浏览器下载" target="_blank">更多浏览器下载</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
